.active {
  color: #2d6d80;
}

.in-active {
  @apply text-gray-200;
}

.p-inputwrapper {
  width: 100%;
}
.p-chips-multiple-container {
  width: 95%;
}

.p-chips-multiple-container {
  @apply rounded-lg;
}
