@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "FuturaMdBt";
  src: url("./assets/fonts/FutuMd.ttf") format("truetype");
}

@font-face {
  font-family: "Futurahvbt";
  src: url("./assets/fonts/FutuHv.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaBkBt";
  src: url("./assets/fonts/FuturaBkBook.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaLtBt";
  src: url("./assets/fonts/FuturaLtBT.ttf") format("truetype");
}

@layer utilities {
  .font-primary {
    font-family: "Futurahvbt";
  }

  .font-secondary {
    font-family: "FuturaMdBt";
  }

  .font-tertiary {
    font-family: "FuturaBkBt";
  }
}

body {
  font-family: "FuturaMdBt";
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 16px;
}

.input-label {
  @apply text-[#545F71] !font-normal !text-sm;
  font-family: FuturaBkBt;
}

.font-light {
  font-family: FuturaLtBt;
}

.p-autocomplete-multiple-container .p-autocomplete-token {
  margin: 0.2rem 0;
  background-color: #2d6d80;
  height: 2rem;
  color: #fff;
  padding: 10px;
  border-radius: 24px;
}

.p-inputtext {
  box-shadow: none !important;
  color: #000;
  @apply border-gray-300 ps-2;
}

label, li, input, div {
  @apply text-[#283956];
}

.cimpar-input {
  @apply min-h-[2.5rem] w-full border border-gray-300 rounded-md px-2;
}

.p-radiobutton-box {
  border: 1px solid gray;
}

.p-radiobutton.p-highlight .p-radiobutton-box {
  border: 1px solid #2d6d80;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  @apply bg-[#2d6d80];
}

.react-time-picker__wrapper {
  border: none !important;
}

.color-primary {
  @apply text-[#2d6d80;];
}

.bg-primary {
  @apply bg-[#2d6d80];
}

.border-primary {
  @apply border border-[#2d6d80];
}

.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
  @apply px-2 py-0 mx-0 my-2;
}

.input-field {
  @apply h-[2.5rem] border border-gray-300 rounded-lg;
}

.color-success {
  @apply text-[#3c9f66];
}

.bg-success {
  @apply bg-[#3c9f66];
}

.p-checkbox .p-checkbox-box {
  border: 2px solid #2d6d80 !important;
}

.p-checkbox.p-highlight .p-checkbox-box {
  @apply bg-[#2d6d80];
}

.p-dialog-content {
  @apply rounded-b-xl;
}

.p-dialog-header {
  @apply rounded-t-md;
}
